body {
    height: 100%;
    width: 100% ;
padding: 30px;
    background-color: #de2e3d;
}

h1 {
    color: blue;
    margin-left: 20px;
}
p {
   color: #8a943a;
   margin-left: 20px;
}
h2 {
    color: #470607;
    margin-left: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cbd5d2;
    overflow: auto;
}
li a {
    display: block;
    color: #653f4e;
    padding: 8px 16px;
    text-decoration: none;
}
a {
    display: block;
    color: #653f4e;
    padding: 8px 16px;
    text-decoration: none;
}

main {
  
  width: 100% ;
}

body {
    margin: 0;
font-family: "Lato", sans-serif;
}
nav {a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}