
body {
    background-color: #03001C;
}

h1 {
    color: #77477E;
    margin-left: 20px;
}
p { 
    color: #FE9600;
}
* {
    box-sizing: border-box;
}

main {
  float: right ;
  width: 80% ;
}
nav {
  float: left;
  width: 15%;
}
