
body {
    background-color: #03001C;
}

h1 {
    color: #77477E;
    margin-left: 20px;
}
p { 
    color: #FE9600;
}
* {
    box-sizing: border-box;
}

main {
  float: right ;
  width: 85% ;
}
nav {
  float: left;
  width: 10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
