
body {
    background-color: #2da7c7;
}

h1 {
    color: #1a2944;
    margin-left: 20px;
}
p {
   colour: #98c4c9;
   margin-left: 20px;
}
h2 {
    color: #cbd5d2;
    margin-left: 20px;
}

* {
    box-sizing: border-box;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
}
#content {
  float: right ;
  width: 80% ;
}
#navbar {
  float: right;
  width: 20%;
}
