
<!doctype html>
<html>
<head>
<link rel="alternate" type="application/rss+xml" title="Your Site RSS" href="/feed.xml" />
<base href="ire4html.tk">
<link rel="stylesheet" type="text/css" href="http://www.ire4html.tk/CSS/Halloween.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
</head>
 <main>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
 </main>
 <nav>
  <ul>
  <li><a href="http://ire4html.tk">Home</a></li>
   <li><a href="http://ire4html.tk/games/">Game</a></li>
   <li><a href="www.google.com.au">Google</a></li>
  </ul>
    </nav>
</html>
      
